.icon-hover {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.icon-hover .hover-icon {
  display: none; /* 기본적으로 컬러 아이콘 숨김 */
  position: absolute;
}

.icon-hover:hover .default-icon {
  display: none; /* hover 시 FontAwesome 아이콘 숨김 */
}

.icon-hover:hover .hover-icon {
  display: inline-block; /* hover 시 컬러 아이콘 표시 */
}
